.message-list {
  margin-top: 1rem;
  width: 60%;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.message-divider {
  width: 97%;
  border: 1px solid rgba(13, 13, 13, 0.05);
}
