name: Deploy api

on:
  push:
    branches:
      - main
    paths:
      - src/api/**
      - .github/workflows/api.yml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          lfs: true
          submodules: true
          clean: true

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish project
        run: |
          dotnet publish src/api --configuration Release --output publish -r linux-x64

      - name: Package artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: api
          path: publish

  deploy:
    needs: build
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    environment: Development

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: api
          path: api

      - name: Azure CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v3
        with:
          app-name: app-projectestimate-api-dev
          package: api
